/*
* 양식 바디
*/
.view_title_box {
    padding: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}

.basic_table.type_e {
    background: #fff;
    border-right: 1px solid #D8D9DA;
}
.a4_size {
    max-width: 750px !important;
    margin: 0 auto;
}
.basic_table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Noto Sans KR',sans-serif;
    table-layout: fixed;
}
.m_bottom15 {
    margin-bottom: 15px !important;
}
.basic_table.type_e th {
    padding: 9px 10px 8px 10px;
    text-align: left;
    border: 1px solid #dce0e1;
    background: #F1F2F3;
}
.basic_table th:first-child {
    min-width: 0;
}
.basic_table th, .basic_table td {
    color: #1A1B1B;
}
.basic_table.type_e td {
    border-top: 1px solid #D8D9DA;
    padding-right: 15px !important;
    border-left: 1px solid #D8D9DA;
    height: 50px;
    box-sizing: border-box;
}
.basic_table td, .basic_table.gray td {
    border-bottom: 1px solid #D8D9DA;
    word-break: break-all;
    background-color: #fff;
    padding: 12px 0 12px 15px;
    font-size: 14px;
    line-height: 24px;
    color: #1A1B1B;
}
#content {
    font-size: 14px;
    min-width: 840px;
    height: 100%;
    /* overflow: hidden; */
}
.input_box:not(.popup) {
    background: white;
}
.input_box:disabled {
    color: transparent;
}
input[type="text"], select, textarea, button, span {
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.input_box {
    width: 100%;
    height: 32px;
    line-height: 24px;
    padding: 0 10px;
    font-size: 14px;
    color: #1A1B1B;
    border: 1px solid #D8D9DA;
    box-sizing: border-box;
    font-family: 'Noto Sans KR',sans-serif;
}
.input_box.half {
    width: 80px;
}
.basic_table.type_e td {
    border-top: 1px solid #D8D9DA;
    padding-right: 15px !important;
    border-left: 1px solid #D8D9DA;
    height: 50px;
    box-sizing: border-box;
}
.form_textarea.preview {
    width: 100%;
    padding: 0px 10px;
    border: 1px solid #dce0e1;
    resize: none;
    outline: none;
    vertical-align: top;
    min-height: 100px;
    box-sizing: border-box;
    background: white;
    overflow: auto;
    word-break: normal;
}
.input_wrap.write {
    width: 100%;
    float: left;
}
.total_day {
    min-width: 100px;
    float: left;
}
.input_wrap {
    width: 498px;
    float: right;
}

.basic_table th, .basic_table td {
    color: #1A1B1B;
}

.between_wrap.form {
    background: #fff;
    border-left: 1px solid #dddee1;
    border-right: 1px solid #dddee1;
}

.between_wrap {
    height: 32px;
    line-height: 32px;
    padding: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.f_left {
    float: left;
}
