.doc-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color:#f1f1f1;

}


.doc-nav-item{
    padding: 8px;
    width: 10%;
    text-align: center;
    cursor: pointer;
    color: black;
}

.doc-nav-item:hover{
    background-color: #007bff;
    color:white;
}
