{% extends 'index.html' %}
{% load static %}

    
    
{% block link-area %}
<!-- 게시판 css -->
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
{% endblock link-area %}


{% block script-head %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    
    {% comment %}    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script> 
    <script src="https://cdn.datatables.net/plug-ins/1.10.22/sorting/datetime-moment.js"></script> 
    {% endcomment %}
        
{% endblock script-head %}
    
    
{% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <div class="container-fluid mt-4">
            <div class="card mb-4">
                <div class="card-header">
                    {% block boardName %}{% endblock boardName %}
                </div>
                <div class="card-body">
                    {% block boardContent %}{% endblock boardContent %}   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script-body %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.js"></script>
<script type="text/javascript" charset="utf8" src="{% static 'tables/js/config.js' %}"></script>
<script>
window.onpageshow = function (event){
    if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) { 
        window.location.reload();
    }
}
</script>
{% endblock script-body %}
