{% extends 'boards/board_base.html' %}


        {% block boardName %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.title}}
                {% if form.errors.title %}
                    {{form.errors.title}}
                {% endif %}
        {% endblock boardName %}
    
        {% block boardContent %}
                {% if form.errors.contents %}
                    {{form.errors.contents}}
                {% endif %}
                {{form.contents}}
                <div>{{form.attachments}}</div>
                
        <div><input type="submit" value="등록"></div>
    </form>
    <div>
        <a href="{% url 'boards:board_list' %}">취소</a>
    </div>
{% endblock boardContent %}