{% extends 'boards/board_base.html' %}

{% block boardName %}
    <form method="POST">
        {% csrf_token %}
        {{form.title}}
{% endblock boardName %}

{% block boardContent %}
    <div>
        {{form.media}}
        {{form.contents}}
    </div>
    <div>{{form.attachments}}</div>
        <button>수정 완료</button>
    </form>
    <div>

    </div>
    <button onclick="location.href='{% url 'boards:detail' board_pk %}'">취소</button>
    <button onclick="location.href='{% url 'boards:delete' board_pk %}'">삭제</button> 
{% endblock boardContent %}
