{% extends 'index.html' %}
{% load static %}

<div class="container-fluid ">


{% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
            <div class="mb-4">
                
            </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        공지사항
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>게시글 번호</th>
                                        <th>제목</th>
                                        <th>작성자</th>
                                        <th>조회수</th>
                                        <th>작성날짜</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for board in boards%}
                                    <tr>
                                        <td>{{board.postNo}}</td>
                                        <td><a href="{% url 'boards:board_detail' board.pk %}">{{board.title}}</a></td>
                                        <td>{{board.author}}</td>
                                        <td>{{board.viewCnts}}</td>
                                        <td>{{board.updated}}</td>
                                    </tr>    
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <a href="{% url 'boards:board_create' %}">글쓰기</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock content %}
