{% extends 'index.html' %}
{% load static %}

<div class="container-fluid ">


{% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
            <div class="mb-4">
                
            </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for board in boards%}
                                    <tr>
                                        <td>AAAAAAAAAAAAAAAA</td>
                                        <td>{{board.postNo}}</td>
                                        <td>{{board.title}}</td>
                                        <td>61</td>
                                        <td>{{board.viewCnt}}</td>
                                        <td>{{board.author}}</td>
                                    </tr>    
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock content %}
