{% extends 'index.html' %}
{% load static %}

{% block link-area %}
    <!-- 결재관리 css  -->
    <link rel="stylesheet" type="text/css" href="{% static 'approvals/css/content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'approvals/css/my.css' %}">
{% endblock link-area %}

{% block script-head %}
{% endblock script-head %}

{% block custom-nav %}
{% include "approvals/partials/nav.html" %}
{% endblock custom-nav %}

{% block content %}
    <div class="approval-body">
    </div>
{% endblock content %}

{% block script-body %}
    <script type="text/javascript" src="{% static 'approvals/js/content.js' %}"></script>
{% endblock script-body %}