<div class="m_right5 m_left5">  
    <div class="view_title_box" style="word-break:break-all;">지출결의서</div> 
        <table class="basic_table type_e m_bottom15 a4_size" cellpadding="0" cellspacing="0"> 
        <colgroup><col width="120px"><col width="*"></colgroup> 
        <tbody> 
            <tr> 
                <th>제목</th> 
                <td colspan="3"> 
                    <input class="input_box" type=text>
                </td> 
            </tr> 
            <tr> 
                <th>열람/공람자</th>
                <td colspan="3" class="fix_height"> 
                    <input class="input_box" type=text>
                </td> 
            </tr> 
        </tbody> 
        </table>    
        
        <table class="basic_table type_e m_bottom15 a4_size" cellpadding="0" cellspacing="0"> 
            <colgroup> 
                <col width="120px"> 
                <col width="*"> 
                <col width="120px"> 
                <col width="*"> 
                <col width="120px"> 
                <col width="*"> 
            </colgroup> 

            <tbody> 
                <tr> 
                    <th>사용부서</th> 
                    <td colspan="2" class="in_button"> 
                        <input class="input_box" type="text">
                    </td> 
                    <th>사용자</th> 
                    <td colspan="2" class="in_button"> 
                        <input class="input_box" type="text" >
                    </td> 
                </tr> 
            </tbody> 
        </table>

    </div> 
    <textarea>내용 작성(에디터)</textarea>
<div>