@charset "utf-8";

/* base */
body,
input[type="text"],
select,
textarea,
button,
span {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

/* layout */
#html {
  height: 100%;
}
#body {
  height: 100%;
  min-height: 100%;
}
#wrap {
  display: table;
  height: 100%;
  min-height: 100%;
  table-layout: fixed;
}
#container {
  display: table-row;
}
#sidebar {
  display: table-cell;
  height: 100%;
  border-right: 1px solid #ccc;
  background: transparent;
  vertical-align: top;
  position: relative;
  z-index: 10;
}
#gnb {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%; /*background:#1c2429;*/
  z-index: 12;
}
#snb {
  position: relative;
  top: 0;
  min-height: 100%;
  margin-left: 60px;
  color: #fff;
  background: transparent;
  z-index: 11;
}
#contents_wrap {
  display: table-cell;
  width: 100%;
  position: relative;
  z-index: 9;
  background: #ffffff;
}
#contents_wrap.no_side.block {
  display: block;
  padding-left: 0px;
  height: 100%;
}
#header {
  display: table;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc; /*background-color:#f6f6f6;*/
}
#contents {
  margin-bottom: 52px;
}
#contents.no_footer {
  width: calc(100% - 48px);
  float: left;
  margin-bottom: 0;
}
#contents.all-wrapper {
  width: 100% !important;
} /*협력사 버전*/
#contents.popup_bg {
  background: #f0f1f3;
  height: 100%;
}
#footer {
  width: 100%;
  height: 52px;
  position: fixed;
  bottom: 0;
  left: 0;
  border: 1px solid #dce0e1;
  background: #e5e5e5;
}
/* .body_wrap{width:100%;height:calc(100% - 50px);display:flex;justify-content:space-between;align-items:flex-start;} */

/* gnb */
#gnb ul li {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#gnb ul li:active,
#gnb ul li.on {
  background: transparent;
}
#gnb ul li a {
  display: block;
  text-align: center;
}
#gnb .gnb_icon {
  width: 26px;
  height: 26px;
  margin: 0 auto;
  display: block;
}
#gnb ul li a svg {
  width: 26px;
  height: 26px;
  background: transparent;
  fill: #fff;
}
#gnb ul li a svg.gnb-icon-active {
  display: none;
}
#gnb ul li.on a svg.gnb-icon {
  display: none;
}
#gnb ul li.on a svg.gnb-icon-active {
  display: block;
  margin: 0 auto;
}
#gnb .gnb-icon {
  width: 26px;
  height: 26px;
  margin: 0 auto;
  display: block;
}
#gnb ul li a .text {
  display: block;
  color: #fff;
  box-sizing: border-box;
  font-size: 12px;
}
#gnb ul li .icon_wrap {
  cursor: pointer;
}
#gnb ul li .icon_wrap svg {
  fill: #fff;
  background: transparent;
}
#gnb ul li .icon_wrap .txt {
  color: #fff;
  font-size: 12px;
}
#gnb .noti_badge {
  width: 8px;
  height: 8px;
  background: #ff3333;
  border-radius: 8px;
  position: absolute;
  left: 40px;
  top: 12px;
}
#gnb.skin_01 .noti_badge {
  background: #296eff;
}

/* snb */
#snb ul {
  list-style: none;
}
#snb ul,
#snb ul li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
#snb a,
#snb a:hover,
#snb a:link,
#snb a:visited,
#snb a:focus,
#snb a:active {
  text-decoration: none;
}
#snb .snb_box {
  width: 210px;
  height: 100%;
}
/* snb : guide_line */
#snb .guide_line {
  display: block;
  clear: both;
  content: "";
  border-bottom: 1px solid #46525d;
  margin: 0;
}
#snb .guide_line:first-child {
  margin-top: 15px;
}
#snb .snb_box.no_quick > .guide_line:first-child {
  padding-top: 25px;
}
/* snb : type_quick */
#snb .type_quick {
  padding: 15px 12px 10px 12px;
  text-align: center;
}
#snb .type_quick .txt {
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}
/* snb : type_core */
#snb .type_core {
  margin: 0 11px;
}
#snb .type_core .core_list li {
  float: left;
  display: block;
  margin: 11px 0;
  width: 50%;
}
#snb .type_core .core_list li a {
  display: block;
}
#snb .type_core .core_list li a.label {
  text-align: center;
}
#snb .type_core .core_list li a.label .label_txt {
  display: block;
  margin-bottom: 4px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
}
#snb .type_core .core_list li a .txt {
  display: block;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
  font-size: 11px;
}
/* snb : type_normal */
/* #snb .type_normal .normal_list.first{margin-top:3px}
#snb .type_normal .normal_list.last{margin-bottom:3px} */
#snb .type_normal .normal_list li {
  width: 100%;
  height: 32px;
  line-height: 32px;
}
#snb .type_normal .normal_list li:hover,
#snb .type_normal .normal_list li.on {
  background-color: #1c2429;
}
#snb .type_normal .normal_list li a {
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
}
#snb .type_normal .normal_list li a.label {
  width: calc(100% - 15px);
  padding-left: 15px;
}
#snb .type_normal .normal_list li a.label .txt {
  font-family: "Noto Sans KR", sans-serif;
  color: #1a1b1b;
  font-size: 14px;
  line-height: 26px;
}
#snb .type_normal .normal_list li a.count {
  padding: 0 2px;
  margin-left: 7px;
}
#snb .type_normal .normal_list li a.count .txt {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
/* snb : type_toggle */
/* #snb .type_toggle{padding:2px 0;} */
#snb .type_toggle .toggle_label {
  height: 32px;
  line-height: 32px;
}
#snb .type_toggle .toggle_label.on {
  background-color: transparent;
}
#snb .type_toggle .toggle_label .label {
  height: 32px;
  line-height: 32px;
}
#snb .type_toggle .toggle_label .btn_toggle:focus {
  outline: none;
}
/* #snb .type_toggle .toggle_label .public_folder_open{float:left;width:8px;margin-top:13px;margin-left:15px;margin-right:4px}
#snb .type_toggle .toggle_label .public_folder_close{float:left;width:8px;margin-top:11px;margin-left:15px;margin-right:4px} */
#snb .type_toggle .toggle_label .public_folder_open,
#snb .type_toggle .toggle_label .public_folder_close {
  margin-left: 8px;
}
#snb .type_toggle .toggle_label .label:focus {
  outline: none;
}
#snb .type_toggle .toggle_label .label {
  display: inline-block;
  width: 100%;
}
#snb .type_toggle .toggle_label .label.has_config {
  width: calc(100% - 30px);
}
#snb .type_toggle .toggle_label .label .txt {
  font-family: "Noto Sans KR", sans-serif;
  color: #1a1b1b;
  font-size: 14px;
}
#snb .type_toggle .toggle_label .static_quick_func {
  float: right;
  display: block;
  width: 20px;
  margin-right: 10px;
  text-align: center;
}
#snb .type_toggle .toggle_label .quick_func {
  float: right;
  display: none;
  width: 20px;
  margin-right: 10px;
  text-align: center;
}
#snb .type_toggle .toggle_label:hover .quick_func,
#snb .type_toggle .toggle_label.on .quick_func {
  display: block;
}
#snb .type_toggle .toggle_list_wrap {
  display: none;
}
#snb .type_toggle .toggle_list_wrap.on {
  display: block;
}
#snb .type_toggle .toggle_list_wrap .toggle_list.first {
  margin-top: 0px;
}
#snb .type_toggle .toggle_list_wrap .toggle_list.last {
  margin-bottom: 3px;
}
#snb .type_toggle .toggle_list_wrap .toggle_list li {
  position: relative;
  height: 32px;
  line-height: 32px;
}
#snb .type_toggle .toggle_list_wrap .toggle_list li:hover,
#snb .type_toggle .toggle_list_wrap .toggle_list li.on {
  background-color: #1c2429;
}
#snb .type_toggle .toggle_list_wrap .toggle_list li a {
  display: block;
  float: left;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}
#snb .type_toggle .toggle_list_wrap .toggle_list li a:focus {
  outline: none;
}
#snb .type_toggle .toggle_list_wrap .toggle_list li a.label {
  width: calc(100% - 28px);
  padding-left: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#snb .type_toggle .toggle_list_wrap .toggle_list li a.label .txt {
  font-family: "Noto Sans KR", sans-serif;
  color: #1a1b1b;
  font-size: 14px;
  line-height: 26px;
  white-space: nowrap;
}
#snb .type_toggle .toggle_list_wrap .toggle_list li a.count {
  padding: 0 2px;
  margin-left: 7px;
}
#snb .type_toggle .toggle_list_wrap .toggle_list li a.count .txt {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
#snb .type_toggle .toggle_list_wrap .toggle_list li a.label .document_status {
  position: absolute;
  top: 16px;
  width: 4px;
  height: 4px;
  margin-left: 3px;
  border-radius: 50%;
  background-color: #f5533d;
}

/* top : toggle */
#header .toggle-menu {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin: 9px 12px 9px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #999;
  font-size: 16px;
  cursor: pointer;
  z-index: 2004;
}
#header .toggle-menu i {
  display: block;
  font-size: 20px;
  transform: rotate(180deg);
  text-align: center;
  color: #666;
  line-height: 30px;
}
#header .toggle-menu.on i {
  transform: rotate(0deg);
}

/* top : left_box */
#header .left_box {
  display: table-cell;
  float: none;
  vertical-align: top;
  width: calc(100% - 110px);
}
#header .left_box .title-page {
  float: left;
  display: block;
  margin-left: 55px;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  color: #1a1a1b;
  letter-spacing: -0.25px;
}

#header .global_search_box {
  width: 50%;
  float: right;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
#header .global_search {
  width: 100%;
  max-width: 400px;
  position: relative;
  float: left;
  height: 36px;
  margin: 12px 0 12px;
  line-height: 36px;
  border: 1px solid #d8d9da;
  border-radius: 2px;
  background: #fff;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#header .global_search input {
  width: calc(100% - 32px);
  height: 36px;
  background: none;
  border: 0;
  text-indent: 8px;
  float: left;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
#header .global_search .btn_global_search {
  position: absolute;
  right: 4px;
  background: none;
  cursor: pointer;
}

.column .global-search.front-select input {
  width: calc(100% - 140px);
  left: 108px;
}

#header .quick_func_list {
  display: inline-block;
}
#header .quick_func_list .btn.basic.square {
  width: 32px;
  height: 32px;
  text-align: center;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0 4px;
}
#header .quick_func_list .btn.basic.square i.mdi {
  line-height: 32px;
  vertical-align: top;
}
#header .quick_func_list .sch_in_box {
  line-height: initial;
  width: calc(100% - 20px);
  white-space: nowrap;
}
#header .quick_func_list .sch_in_box input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}
#header .quick_func_list .sch_in_box .sch_in {
  line-height: 16px;
  vertical-align: middle;
}

#header .quick_func_list.sgl-btn,
#header .quick_func_list.dbl-btn {
  display: flex;
  align-items: center;
}

#header .global_search_box .btn.basic.square.filter_btn {
  vertical-align: middle;
  margin-bottom: 2px;
}
#header .global_search_box .wrap_filter .vacation_btn {
  top: 48px;
  right: 0;
  width: 140px;
  z-index: 10;
  background: #fff;
  border: 1px solid #d8d9da;
}
#header .global_search_box .wrap_filter .vacation_btn .vacation_box_top {
  padding: 10px 12px;
}
#header .global_search_box .wrap_filter .vacation_btn .vacation_box_top > div {
  padding: 2px 0;
  line-height: 24px;
}
#header .global_search_box .wrap_filter .vacation_btn .vacation_box_top input[type="checkbox"] {
  width: 16px;
  height: 16px;
}
#header .global_search_box .wrap_filter .vacation_btn .vacation_box_bottom {
  padding: 6px 7px;
  border-top: 1px solid #dce0e1;
  text-align: center;
}

#header .global_search_box .cert_btn {
  top: 48px;
  right: 0;
  width: 196px;
  border: 1px solid #d8d9da;
  background: #fff;
  z-index: 10;
}
#header .global_search_box .cert_btn .cert_box_top {
  padding: 10px 12px;
}
#header .global_search_box .cert_btn .cert_box_top > div {
  padding: 2px 0;
  line-height: 24px;
}
#header .global_search_box .cert_btn .cert_box_top input[type="checkbox"] {
  width: 16px;
  height: 16px;
}
#header .global_search_box .cert_btn .cert_box_bottom {
  padding: 6px 7px;
  border-top: 1px solid #dce0e1;
  text-align: center;
}

/* #header .left_box .quick_func_list{float:left}
#header .left_box .btn.square{position:relative;float:left;width:32px;height:32px;padding:0px;margin:13px 0 0 7px;text-align:center;}
#header .left_box .vacation_btn{top:48px;right:0px;width:140px;z-index:10;background:#fff;border:1px solid #D8D9DA;}
#header .left_box .vacation_btn .vacation_box_top{padding:10px 12px}
#header .left_box .vacation_btn .vacation_box_top>div{padding:2px 0;line-height:24px;}
#header .left_box .vacation_btn .vacation_box_top input[type="checkbox"]{width:16px;height:16px;}
#header .left_box .vacation_btn .vacation_box_bottom{padding:6px 7px;border-top:1px solid #dce0e1;text-align:center}

#header .left_box .cert_btn{top:48px;right:0;width:196px;border:1px solid #afafaf;background:#fff;z-index:10;}
#header .left_box .cert_btn .cert_box_top{padding:10px 12px}
#header .left_box .cert_btn .cert_box_top>div{padding:2px 0;line-height:24px !important;}
#header .left_box .cert_btn .cert_box_top input[type="checkbox"]{width:16px;height:16px;}
#header .left_box .cert_btn .cert_box_bottom{padding:6px 7px;border-top:1px solid #dce0e1;text-align:center}
#header .left_box .sch_in_box{float:left;height:27px;margin:17px 0 0 7px}
#header .left_box .sch_in_box #doc_title{float:left;margin-top:7px;margin-left:7px;}
#header .left_box .sch_in_box .doc_title{float:right;height:27px;line-height:26px} */
/* #header .left_box .btn .public_calendar_new{position:absolute;top:8px;left:8px;}
#header .left_box .btn .public_doc_new{position:absolute;top:9px;left:8px;}
#header .left_box .btn .public_filter_new{position:absolute;top:8px;left:8px;} */
/* #header .left_box .btn.square i.mdi{line-height:32px;vertical-align:top} */
/* top: left_box */
#header .left_box .search_select {
  width: calc(100% - 105px);
  height: 36px;
  float: left;
  position: relative;
  border-left: 1px solid #d8d9da;
  text-align: left;
  box-sizing: border-box;
}
#header .left_box .search_select_wrap .input_box {
  float: left;
  width: calc(100% - 25px);
  height: 36px;
  background: none;
  padding: 0px;
  border: none;
  text-indent: 10px;
  font-size: 13px;
  font-family: "Noto Sans KR", sans-serif;
  outline: none;
}
#header .left_box .search_select ul {
  width: 100%;
  max-height: 160px;
  font-size: 14px;
  z-index: 100;
  position: absolute;
  float: left;
  top: 34px;
  left: -1px;
  border: 1px solid #dce0e1;
  overflow-y: scroll;
  border-top: none;
  background: #fff;
}
#header .left_box .search_select_box ul li {
  padding: 2px 0;
  padding-left: 10px;
  line-height: 28px;
  border-top: 1px solid #dce0e1;
  background-color: #fff;
  color: #000;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#header .left_box .search_select_box .no_search_node {
  padding: 10px;
  height: 135px;
  color: #929292;
  line-height: 24px;
  font-size: 14px;
}
#header .left_box .search_select ul li.search_node {
  cursor: pointer;
}
#header .left_box .search_select ul li.search_node:hover {
  background-color: #e4f0fb;
}
#header .left_box .search_select ul li.search_node.on {
  background-color: #e4f0fb;
}
#header .left_box .search_select ul li.search_node .highlight {
  color: #57aefa;
  font-weight: 700;
}
#header .left_box .search_select ul li.search_node:first-child {
  border-top: none;
}
#header .left_box .search_icon {
  position: absolute;
  top: 3px;
  right: 4px;
}
/* #header .left_box .search_icon .ea_icon.public_search{width:15px;height:14px;background-position: -60px -180px;vertical-align:top;} */

/* header : datepicker ??정??*/
#header .left_box .search_contents .ui-datepicker-calendar {
  line-height: 12px;
}
#header .left_box .search_contents .ui-datepicker {
  padding: 0px !important;
}
#header .left_box .search_contents .ui-datepicker select.ui-datepicker-month,
#header .left_box .search_contents .ui-datepicker select.ui-datepicker-year {
  border: 1px solid #dce0e1 !important;
}
#header .left_box .search_contents .ui-state-default,
#header .left_box .search_contents .ui-widget-content .ui-state-default,
#header .left_box .search_contents .ui-widget-header .ui-state-default {
  border: 1px solid #fff;
  text-align: center !important;
  text-align: center;
}
#header .left_box .search_contents .custom_date_picker_skin .ui-state-active {
  background: #288ae0;
  border: 1px solid #288ae0;
  color: #fff;
}
#header .left_box .search_contents .ui-widget-content {
  border: 1px solid #aaa !important; /*;border-radius:4px !important*/
}

/* top : right_box */
#header .right_box {
  display: table-cell;
  width: 110px;
  padding: 0 15px 0 15px;
  float: none;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
/* @media (max-width:1240px) {
	#header .right_box{width:300px;}
} */
#header .right_box * {
  font-family: "Noto Sans KR", sans-serif;
}
#header .right_box .profile_top {
  float: right;
  position: relative;
  cursor: pointer;
}
#header .right_box .profile_top .profile_detail {
  display: block;
  float: left;
  position: relative;
}
#header .right_box .profile_top .profile_detail.admin .user_img {
  margin-top: 5px;
}
#header .right_box .profile_top .profile_detail .user_img {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  margin: 13px 16px 0 0;
  border-radius: 32px;
  border: 1px solid #94a4b2;
  box-sizing: border-box;
}
#header .right_box .profile_top .profile_detail .user_img:hover {
  border-color: #74beff;
}
#header .right_box .profile_top .profile_detail .public_admin {
  position: absolute;
  bottom: -7px;
  left: -4px;
}
#header .right_box .profile_top .profile_detail .id_box {
  position: relative;
  float: left;
  margin-top: 14px;
  margin-right: 14px;
}
#header .right_box .profile_top .profile_detail .id_box .user_id {
  max-width: 125px;
  height: 16px;
  line-height: 15px;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
#header .right_box .profile_top .profile_detail .ea_icon.public_small_down {
  float: left;
  position: absolute;
  top: 13px;
  right: -15px;
}
#header .right_box .info_text_area {
  max-width: 200px;
  float: right;
  position: relative;
  margin-right: 22px;
  text-align: right;
}
#header .right_box .update_info {
  width: 100%;
  float: right;
}
#header .right_box .update_info a {
  color: #222;
}
#header .right_box .profile_top .mdi-apps {
  color: #666;
  position: relative;
  display: inline-block;
  line-height: 1.3;
  vertical-align: middle;
}
#header .right_box .profile_top .mdi-apps::before {
  line-height: 1.3;
}
#header .right_box .profile_top .mdi-apps .new_icon {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ff0000;
}

/* top */
.layer_pop.profile_layer {
  display: block !important;
  position: fixed;
  z-index: 9999;
  top: 0px;
  right: 0px;
  border-left: 1px solid #c9d0d4;
  text-align: left;
  background: #f7f8f9;
  width: 290px;
  height: 100vh;
  white-space: nowrap;
  padding: 16px;
  box-sizing: border-box;
  cursor: default;
  overflow: hidden auto;
  box-shadow: 0 0 14px rgba(73, 87, 114, 0.2);
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .layer_pop.profile_layer {
    display: block !important;
    position: fixed;
    z-index: 9999;
    top: 0px;
    right: 0px;
    border-left: 1px solid #c9d0d4;
    text-align: left;
    background: #f7f8f9;
    width: 297px;
    height: 100vh;
    white-space: nowrap;
    padding: 16px;
    box-sizing: border-box;
    cursor: default;
    overflow-y: auto;
    box-shadow: 0 0 14px rgba(73, 87, 114, 0.2);
    transition: all 0.5s ease-in-out;
    -ms-transform: translateX(100%);
  }
}
.layer_pop.profile_layer.active {
  transform: translateY(0%);
  -ms-transform: translateY(0%);
}
.layer_pop.profile_layer .btn_header {
  color: #919699;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  border: 1px solid #d8d9da;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 8px 5px;
  vertical-align: middle;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
}
.layer_pop.profile_layer .btn_header.skin_bg01,
.layer_pop.profile_layer .btn_header.skin_bg02,
.layer_pop.profile_layer .btn_header.skin_bg03,
.layer_pop.profile_layer .btn_header.skin_bg04,
.layer_pop.profile_layer .btn_header.skin_bg05 {
  color: #fff;
  border: none;
}
.layer_pop.profile_layer .btn_header.sm {
  padding: 0px 8px 2px;
  height: 18px;
  display: inline-block;
}
.layer_pop.profile_layer .btn_header .text {
  color: inherit;
  font-size: 12px;
  line-height: 1.3;
}
.layer_pop.profile_layer .layer_content {
  padding-top: 32px;
  padding-bottom: 4px; /*for Internet Explore*/
}
.layer_pop.profile_layer .layer_content .pic {
  position: relative;
  float: left;
  width: 74px;
  height: 60px;
  margin-right: 9px;
}
.layer_pop.profile_layer .layer_content .table_cus {
  width: 100%;
}
.layer_pop.profile_layer .layer_content table .pic {
  float: none;
  width: auto;
}
.layer_pop.profile_layer .layer_content .pic img {
  width: 60px;
  height: 60px;
  background: #ddd;
  border-radius: 60px;
  border: 1px solid #a5a5a5;
  box-sizing: border-box;
}
.layer_pop.profile_layer .layer_content .pic .public_setting_new {
  position: absolute;
  right: 0;
  bottom: 0px;
}
.layer_pop.profile_layer .layer_content .info {
  float: left;
}
.layer_pop.profile_layer .layer_content table .info {
  float: none;
}
.layer_pop.profile_layer .layer_content .info p {
  line-height: 20px;
}
.layer_pop.profile_layer .layer_content .info p:nth-child(1) {
  margin: 4px 0 2px 0;
}
.layer_pop.profile_layer .layer_content .info p:nth-child(2) {
  width: 180px;
  margin: 0;
}
.layer_pop.profile_layer .layer_content .info p .user_name {
  max-width: 170px;
  font-size: 14px;
  color: #1a1b1b;
  font-weight: 500;
  letter-spacing: 0.25px;
  vertical-align: middle;
  line-height: 15px;
}
.layer_pop.profile_layer .layer_content .info p .part {
  margin-left: 5px;
}
.layer_pop.profile_layer .layer_content .info p .user_email {
  color: #919699;
  max-width: 170px;
}
.layer_pop.profile_layer .layer_content .layer_btn_wrap {
  margin-top: 16px;
  line-height: 0;
  font-size: 0;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
}
.layer_pop.profile_layer .layer_content .layer_btn_wrap .btn_header {
  flex: 1;
}
.layer_pop.profile_layer .layer_content .layer_btn_wrap .btn_header + .btn_header {
  width: calc(50% - 4px);
  margin-left: 8px;
}
.layer_pop.profile_layer .user_content {
  padding: 10px 10px 12px;
  margin-top: 12px;
  background-color: #fff;
  border-radius: 4px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .layer_pop.profile_layer .user_content:last-child {
    margin-bottom: 12px;
  }
}
.layer_pop.profile_layer .user_content .content_head {
  line-height: 1.3;
  position: relative;
}
.layer_pop.profile_layer .user_content .content_head.fold,
.layer_pop.profile_layer .user_content .content_head.open {
  cursor: pointer;
}
.layer_pop.profile_layer .user_content .content_head.fold .mdi-chevron-up {
  transform: rotate(180deg);
  transition: all 0.3s;
}
.layer_pop.profile_layer .user_content .content_head.open .mdi-chevron-up {
  transform: rotate(0deg);
  transition: all 0.3s;
}
.layer_pop.profile_layer .user_content .content_head .mdi-chevron-up {
  position: absolute;
  right: 0;
  top: 0;
}
.layer_pop.profile_layer .user_content .tit_content {
  font-size: 14px;
  font-weight: 500;
  color: #1a1a1b;
  margin: 0;
}
.layer_pop.profile_layer .user_content .tit_content .ico_tit {
  font-size: 18px;
  padding-right: 2px;
  color: #59595a;
}
.layer_pop.profile_layer .user_content .content_body {
  padding-top: 16px;
}
.layer_pop.profile_layer .user_content.menu_list li {
  padding: 4px 0;
  line-height: normal;
}
.layer_pop.profile_layer .user_content.menu_list li:first-child {
  padding-top: 0;
}
.layer_pop.profile_layer .user_content.menu_list li:last-child {
  padding-bottom: 0;
}
.layer_pop.profile_layer .user_content.menu_list li.menu_logout {
  margin-top: 8px;
  border-top: 1px solid #e5eaeb;
}
.layer_pop.profile_layer .user_content.menu_list li a {
  display: block;
  border-radius: 4px;
  cursor: pointer;
  color: #949596;
  padding: 0 16px;
  line-height: 32px;
  font-size: 14px;
}
.layer_pop.profile_layer .user_content.menu_list li a:hover {
  color: #fff;
}
.layer_pop.profile_layer .user_content.menu_list li a i.mdi-16 {
  display: inline-block;
  margin-right: 8px;
  font-size: 16px;
  line-height: 16px;
}
.layer_pop.profile_layer .user_content.menu_list li.menu_logout a {
  color: #919699;
  text-align: center;
  margin-top: 4px;
  border: 1px solid #d8d9da;
  border-radius: 4px;
}
.layer_pop.profile_layer .user_content.menu_list li.menu_logout a:hover {
  color: #919699;
}
.layer_pop.profile_layer .user_content.work .time {
  font-size: 14px;
  color: #919699;
  line-height: 1.3;
  vertical-align: text-bottom;
}
.layer_pop.profile_layer .user_content.work .time .emph {
  font-size: 20px;
  color: #1a1b1b;
  font-weight: bold;
}
.layer_pop.profile_layer .user_content.work .total_progress {
  margin-top: 8px;
  height: 8px;
  border-radius: 4px;
  position: relative;
  background-color: #e6e6eb;
}
.layer_pop.profile_layer .user_content.work .now_progress {
  height: 8px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.layer_pop.profile_layer .user_content.work .btn_header {
  margin-top: 16px;
}
.layer_pop.profile_layer .user_content.bookmark .bookmark_item a {
  display: block;
  border-radius: 2px;
  line-height: 1.3;
  width: auto;
  cursor: pointer;
}
.layer_pop.profile_layer .user_content.bookmark .bookmark_item a:hover {
  background-color: #e5f5fd;
}
.layer_pop.profile_layer .user_content.bookmark .bookmark_item .text {
  line-height: 1.3;
  font-size: 14px;
  padding: 6px 0 6px 4px;
  color: #1a1a1b;
}
.layer_pop.profile_layer .user_content.bookmark .bookmark_item .text .mdi-plus {
  margin-right: 4px;
}
/* .layer_pop.profile_layer .user_content.bookmark .bookmark_item .ea_icon,
.layer_pop.profile_layer .user_content.bookmark .bookmark_item .mdi{display:inline-block;margin-right:6px;vertical-align:middle;color:#CCC;} */
.layer_pop.profile_layer .user_content.bookmark .bookmark_item .mdi.public-folder {
  display: inline-block;
  margin-right: 6px;
  vertical-align: baseline;
  color: #333;
  font-size: 16px;
}
.layer_pop.profile_layer .user_content.bookmark .bookmark_item .setting_layer {
  position: absolute;
  width: 100%;
  left: -12px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.12);
  padding: 10px;
  z-index: 1;
  line-height: normal;
}
.layer_pop.profile_layer .user_content.bookmark .bookmark_item .setting_layer .row {
  padding-bottom: 16px;
}
.layer_pop.profile_layer .user_content.bookmark .bookmark_item .setting_layer .row input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  height: 32px;
  border: 1px solid #ccc;
  padding: 0 5px;
}
.layer_pop.profile_layer .user_content.bookmark .bookmark_item .setting_layer .tit {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  margin: 0;
  padding-bottom: 8px;
}
.layer_pop.profile_layer .user_content.bookmark .bookmark_item .setting_layer input {
  width: 100%;
  box-sizing: border-box;
}
.layer_pop.profile_layer .user_content.bookmark .bookmark_item .setting_layer .btn_box {
  margin: 0 auto;
  width: fit-content;
  float: none;
}
.layer_pop.profile_layer .user_content.bookmark .bookmark_item .setting_layer .btn {
  display: inline-block;
}
.layer_pop.profile_layer .user_content.setting .wrap_set {
  padding-bottom: 16px;
  padding-top: 16px;
  border-top: 1px solid #e5eaeb;
  line-height: 1.3;
}
.layer_pop.profile_layer .user_content.setting .wrap_set:first-child {
  padding-top: 0;
  border-top: none;
}
.layer_pop.profile_layer .user_content.setting .tit_set {
  font-size: 14px;
  padding-bottom: 8px;
  margin: 0;
}
#header .layer_pop.profile_layer .user_content .select2-container--lw-classic .select2-selection--single {
  border-top: 1px solid #ccc;
}

/* top : right_box */
.layer_pop.manual_layer {
  display: none;
  width: 162px;
  position: absolute;
  top: 34px;
  right: -5px;
  z-index: 998;
  background: #fff;
  border: 1px solid #b1b1b1;
  text-align: left;
}
.layer_pop.profile_layer:before {
  display: block;
  width: 0px;
  content: "";
  position: absolute;
  top: -8px;
  left: 207px;
  border-width: 0 7px 7px;
  border-style: solid;
  border-color: #b8b8b8 transparent;
}
.layer_pop.profile_layer:after {
  display: block;
  width: 0px;
  content: "";
  position: absolute;
  top: -7px;
  left: 207px;
  border-width: 0 7px 7px;
  border-style: solid;
  border-color: #fff transparent;
}
.layer_pop.manual_layer.top:before {
  top: -8px;
  bottom: auto;
  left: auto;
  right: 5px;
  right: 10px\9 !important;
  border-width: 0 7px 7px;
}
.layer_pop.manual_layer:before {
  display: block;
  width: 0px;
  content: "";
  position: absolute;
  left: 40px;
  bottom: -20px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #b1b1b1 transparent;
}
.layer_pop.manual_layer.top:after {
  top: -7px;
  bottom: auto;
  left: auto;
  right: 5px;
  right: 10px\9 !important;
  border-width: 0 7px 7px;
}
.layer_pop.manual_layer:after {
  display: block;
  width: 0px;
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
}
.layer_pop.manual_layer ul {
  padding: 7px;
  margin: 0px;
  list-style: none;
}
.layer_pop.manual_layer ul li:after {
  content: "";
  display: block;
  clear: both;
}
.layer_pop.manual_layer ul li a {
  display: block;
  width: 100%;
  height: 25px;
  line-height: 25px;
}
.layer_pop.manual_layer ul li a:hover {
  background-color: #e5f5fd;
}
.layer_pop.manual_layer ul li a .ea_icon {
  float: left;
  margin: 5px 5px 0 0;
}
.layer_pop.manual_layer ul li a .text {
  float: left;
  max-width: 114px;
  margin-left: 7px;
  color: #222;
}

/* top : right_box */
.layer_pop.download_list_layer * {
  font-family: "Noto Sans KR", sans-serif;
}
.layer_pop.download_list_layer {
  display: none;
  position: absolute;
  width: 280px;
  z-index: 2007;
  top: 46px;
  right: 0px;
  background: #f7f8f9;
  border: 1px solid #c9d0d4;
  border-radius: 4px;
  text-align: left;
  padding: 16px;
  cursor: default;
  box-shadow: 0 0 14px rgba(73, 87, 114, 0.2);
  box-sizing: border-box;
}
.layer_pop.download_list_layer:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #c9d0d4 transparent;
  display: block;
  width: 0px;
}
.layer_pop.download_list_layer.top:before {
  top: -8px;
  bottom: auto;
  left: auto;
  right: 2px;
  right: 0px\9 !important;
  right: 0px\9;
  border-width: 0 7px 7px;
}
.layer_pop.download_list_layer.top:after {
  top: -7px;
  bottom: auto;
  left: auto;
  right: 2px;
  right: 0px\9 !important;
  border-width: 0 7px 7px;
}
.layer_pop.download_list_layer:after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #f7f8f9 transparent;
  display: block;
  width: 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .layer_pop.download_list_layer {
    display: none;
    position: absolute;
    width: 280px;
    z-index: 2007;
    top: 46px;
    right: 0px;
    background: #f7f8f9;
    border: 1px solid #c9d0d4;
    border-radius: 4px;
    text-align: left;
    padding: 16px;
    cursor: default;
    box-shadow: 0 0 14px rgba(73, 87, 114, 0.2);
    box-sizing: border-box;
  }
  .layer_pop.download_list_layer:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #c9d0d4 transparent;
    display: block;
    width: 0px;
  }
  .layer_pop.download_list_layer.top:before {
    top: -8px;
    bottom: auto;
    left: auto;
    right: 2px;
    right: 0px\9 !important;
    right: 0px\9;
    border-width: 0 7px 7px;
  }
  .layer_pop.download_list_layer.top:after {
    top: -7px;
    bottom: auto;
    left: auto;
    right: 2px;
    right: 0px\9 !important;
    border-width: 0 7px 7px;
  }
  .layer_pop.download_list_layer:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #f7f8f9 transparent;
    display: block;
    width: 0;
  }
}
.layer_pop.download_list_layer .wrap_short_cut {
  padding-bottom: 12px;
}
.layer_pop.download_list_layer .wrap_short_cut .short_cut_list {
  font-size: 0;
  line-height: 0;
}
.layer_pop.download_list_layer .wrap_short_cut .short_cut_item {
  display: inline-block;
  width: 33%;
  text-align: center;
  padding-bottom: 4px;
  vertical-align: top;
  position: relative;
}
.layer_pop.download_list_layer .wrap_short_cut .short_cut_item .ico_app {
  display: inline-block;
  background: url(/asset/wm60/images/app_sprite.svg) no-repeat;
  width: 48px;
  height: 48px;
  background-size: cover;
}
.layer_pop.download_list_layer .wrap_short_cut .short_cut_item .ico_app.ico_app_mailplug {
  background-position: 0 0;
}
.layer_pop.download_list_layer .wrap_short_cut .short_cut_item .ico_app.ico_app_puddlr {
  background-position: -48px 0;
}
.layer_pop.download_list_layer .wrap_short_cut .short_cut_item .ico_app.ico_app_archiving {
  background-position: -96px 0;
}
.layer_pop.download_list_layer .wrap_short_cut .short_cut_item .ico_app.ico_app_at {
  background-position: -144px 0;
}
.layer_pop.download_list_layer .wrap_short_cut .short_cut_item .mdi-beta {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 14px;
  right: 10px;
  top: 0;
  color: #fff;
  background: #0c1b2b;
  border-radius: 20px;
  line-height: 20px;
}
.layer_pop.download_list_layer .wrap_short_cut .short_cut_item .txt_item {
  color: #1a1a1b;
  font-size: 12px;
  line-height: 1.3;
  margin: 0;
  padding-top: 6px;
}
.layer_pop.download_list_layer .wrap_list {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}
.layer_pop.download_list_layer .wrap_list .list_head {
  font-size: 14px;
  font-weight: 500;
  color: #1a1a1b;
  line-height: 1.3;
  margin: 0;
}
.layer_pop.download_list_layer .wrap_list .list_head .ico_head {
  font-size: 18px;
  vertical-align: baseline;
  padding-right: 8px;
}
.layer_pop.download_list_layer .wrap_list .down_list {
  margin-left: -10px;
  margin-right: -10px;
}
.layer_pop.download_list_layer .wrap_list .mdi {
  padding-right: 8px;
  font-size: 18px;
  color: #59595a;
  vertical-align: bottom;
}
.layer_pop.download_list_layer .wrap_list .public_ie {
  margin: 5px 5px 0 0;
}
.layer_pop.download_list_layer .down_list {
  padding-top: 12px;
}
.layer_pop.download_list_layer .down_list li a {
  display: block;
  width: 100%;
  height: 32px;
  line-height: 32px;
}
.layer_pop.download_list_layer .down_list li a:hover {
  background-color: #e5f5fd;
}
.layer_pop.download_list_layer .down_list li a:hover .text {
  color: #1e88e5;
}
.layer_pop.download_list_layer .down_list li a:hover span i.mdi {
  color: #1e88e5 !important;
}
.layer_pop.download_list_layer .down_list li:after {
  content: "";
  display: block;
  clear: both;
}
.layer_pop.download_list_layer .down_list li a .icon {
  float: left;
  margin: 5px 5px 0 0;
}
.layer_pop.download_list_layer .down_list li a .text {
  min-width: 162px;
  max-width: 218px;
  margin-left: 7px;
  color: #59595a;
}
.layer_pop.download_list_layer .down_list li a .new {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background: url(/asset/wm60/images/icon_board.png) no-repeat;
  background-position: -419px -119px;
  vertical-align: text-bottom;
}

#header .select2-container--lw-classic .select2-selection--single {
  height: 35px;
  border-top: 0;
  outline: none;
}
#header .select2-container--lw-classic .select2-selection--single .select2-selection__rendered {
  line-height: 35px;
}
#header .select2-container--lw-classic .select2-selection--single .select2-selection__arrow {
  top: 4px;
  height: 22px;
}

/* skin_set */
.skin_box {
  margin-bottom: 13px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.skin_box:last-child {
  margin-bottom: 0;
}
.skin_box div {
  width: 104px;
  padding: 8px 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
}
.skin_box div.on {
  padding: 7px 9px;
  border: 2px solid #74b4ff;
}
.skin_box div:hover {
  padding: 7px 9px;
  border: 2px solid #b5d7ff;
}
.skin_box div img {
  width: 80px;
}

#gnb.skin_01 {
  background-color: #c62828;
}
#gnb.skin_01 ul li:active,
#gnb.skin_01 ul li.on {
  background: #ff5252;
}
#gnb.skin_02 {
  background-color: #d08815;
}
#gnb.skin_02 ul li:active,
#gnb.skin_02 ul li.on {
  background: #f9a825;
}
#gnb.skin_03 {
  background-color: #1b5e20;
}
#gnb.skin_03 ul li:active,
#gnb.skin_03 ul li.on {
  background: #43a047;
}
#gnb.skin_04 {
  background-color: #01579b;
}
#gnb.skin_04 ul li:active,
#gnb.skin_04 ul li.on {
  background: #1e88e5;
}
#gnb.skin_05 {
  background-color: #3b4043;
}
#gnb.skin_05 ul li:active,
#gnb.skin_05 ul li.on {
  background: #5e666b;
}

#snb.skin_white {
  background-color: #fff;
}
#snb.skin_gray {
  background-color: #eaeef0;
}
#snb.skin_redgray {
  background-color: #f7f2f0;
}
#snb.skin_black {
  background-color: #313537;
}

#snb.skin_white .guide_line {
  border-bottom: 1px solid #eaeaea;
}
#snb.skin_gray .guide_line {
  border-bottom: 1px solid #fff;
}
#snb.skin_redgray .guide_line {
  border-bottom: 1px solid #ebe2df;
}
#snb.skin_black .guide_line {
  border-bottom: 1px solid #212425;
}

#snb.skin_white .type_core .core_list li a.label .label_txt {
  color: #0073d8;
}
#snb.skin_gray .type_core .core_list li a.label .label_txt {
  color: #0073d8;
}
#snb.skin_redgray .type_core .core_list li a.label .label_txt {
  color: #0073d8;
}
#snb.skin_black .type_core .core_list li a.label .label_txt {
  color: #ffc600;
}

#snb.skin_white .type_toggle .toggle_list_wrap .toggle_list li:hover,
#snb.skin_white .type_toggle .toggle_list_wrap .toggle_list li.on {
  background-color: #ebeef1;
}
#snb.skin_white .type_toggle .toggle_label.on,
#snb.skin_white .type_normal .normal_list li:hover,
#snb.skin_white .type_normal .normal_list li.on {
  background-color: #ebeef1;
}
#snb.skin_white .snb_wrap .sub_menu.type_list li:hover {
  background-color: #ebeef1 !important;
}
#snb.skin_white .snb_wrap .sub_menu.type_list li.on {
  background-color: #ebeef1 !important;
}

#snb.skin_gray .type_toggle .toggle_list_wrap .toggle_list li:hover,
#snb.skin_gray .type_toggle .toggle_list_wrap .toggle_list li.on {
  background-color: #d7dee1;
}
#snb.skin_gray .type_toggle .toggle_label.on,
#snb.skin_gray .type_normal .normal_list li:hover,
#snb.skin_gray .type_normal .normal_list li.on {
  background-color: #d7dee1;
}
#snb.skin_gray .snb_wrap .sub_menu.type_list li:hover {
  background-color: #d7dee1 !important;
}
#snb.skin_gray .snb_wrap .sub_menu.type_list li.on {
  background-color: #d7dee1 !important;
}

#snb.skin_redgray .type_toggle .toggle_list_wrap .toggle_list li:hover,
#snb.skin_redgray .type_toggle .toggle_list_wrap .toggle_list li.on {
  background-color: #ebe2df;
}
#snb.skin_redgray .type_toggle .toggle_label.on,
#snb.skin_redgray .type_normal .normal_list li:hover,
#snb.skin_redgray .type_normal .normal_list li.on {
  background-color: #ebe2df;
}
#snb.skin_redgray .snb_wrap .sub_menu.type_list li:hover {
  background-color: #ebe2df !important;
}
#snb.skin_redgray .snb_wrap .sub_menu.type_list li.on {
  background-color: #ebe2df !important;
}

#snb.skin_black .type_toggle .toggle_list_wrap .toggle_list li:hover,
#snb.skin_black .type_toggle .toggle_list_wrap .toggle_list li.on {
  background-color: #212425;
}
#snb.skin_black .type_toggle .toggle_label.on,
#snb.skin_black .type_normal .normal_list li:hover,
#snb.skin_black .type_normal .normal_list li.on {
  background-color: #212425;
}
#snb.skin_black .snb_wrap .sub_menu.type_list li:hover {
  background-color: #212425 !important;
}
#snb.skin_black .snb_wrap .sub_menu.type_list li.on {
  background-color: #212425 !important;
}
#snb.skin_black .snb_wrap .sub_menu.type_list li a {
  color: #fff;
}
#snb.skin_black .type_core .core_list li a .txt {
  color: #fff;
}
#snb.skin_black .type_toggle .toggle_label .label .txt {
  color: #fff;
}
#snb.skin_black .type_toggle .toggle_list_wrap .toggle_list li a.label .txt {
  color: #fff;
}
#snb.skin_black .type_normal .normal_list li a.label .txt {
  color: #fff;
}

.logo_wrap {
  padding-top: 15px;
}
.logo_wrap .logo_box {
  width: 191px;
  height: 46px;
  line-height: 46px;
  margin: 0 auto;
  font-size: 20px;
  color: #333;
  font-weight: 700;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
}
.skin_black .logo_wrap .logo_box {
  color: #fff;
}
.logo_wrap .logo_box img {
  width: auto;
  max-width: 100%;
  height: 100%;
}

/* skin_color */
.skin_select {
  background-color: #f1f2f3;
}

.button.skin_01 {
  background: #ff5252;
  color: #fff;
}
.button.skin_02 {
  background: #f9a825;
  color: #fff;
}
.button.skin_03 {
  background: #43a047;
  color: #fff;
}
.button.skin_04 {
  background: #1e88e5;
  color: #fff;
}
.button.skin_05 {
  background: #5e666b;
  color: #fff;
}

.skin_bg01 {
  background: #ff5252 !important;
}
.skin_bg02 {
  background: #f9a825 !important;
}
.skin_bg03 {
  background: #43a047 !important;
}
.skin_bg04 {
  background: #1e88e5 !important;
}
.skin_bg05 {
  background: #5e666b !important;
}

.btn.btn_skin01 {
  background: #ff5252;
  border: 1px solid #ff5252;
  color: #fff;
}
.btn.btn_skin02 {
  background: #f9a825;
  border: 1px solid #f9a825;
  color: #fff;
}
.btn.btn_skin03 {
  background: #43a047;
  border: 1px solid #43a047;
  color: #fff;
}
.btn.btn_skin04 {
  background: #1e88e5;
  border: 1px solid #1e88e5;
  color: #fff;
}
.btn.btn_skin05 {
  background: #5e666b;
  border: 1px solid #5e666b;
  color: #fff;
}

.hover_bg01:hover {
  background: #ff5252 !important;
}
.hover_bg02:hover {
  background: #f9a825 !important;
}
.hover_bg03:hover {
  background: #43a047 !important;
}
.hover_bg04:hover {
  background: #1e88e5 !important;
}
.hover_bg05:hover {
  background: #5e666b !important;
}

#snb .fixed_menu {
  width: 215px;
  position: absolute;
  bottom: 20px;
}
#snb .fixed_menu .type_line {
  height: 21px;
  margin: 0 0 0 15px;
  line-height: 21px;
}
#snb .fixed_menu .type_line a span {
  font-size: 11px;
  font-weight: 700;
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
}
#snb .fixed_menu .type_line a .public_skin {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
#snb.skin_black .fixed_menu .type_line a span {
  color: #fff;
}

/* 환경설정 말풍선 */
.balloon {
  position: absolute;
  bottom: 70px;
  left: 10px;
  width: 200px;
  line-height: 20px;
  padding: 15px;
  border-radius: 8px;
  font-size: 13px;
  color: #ffe400;
  font-family: "Noto Sans KR", sans-serif;
  text-align: left;
  background-color: #333;
  box-sizing: border-box;
  opacity: 0.9;
}
.balloon:before {
  content: "";
  position: absolute;
  border-top: 12px solid #333;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  bottom: -9px;
  left: 10px;
}
.balloon .public_times_slim_white {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.balloon .balloon_close {
  float: right;
  margin-top: 8px;
}
.balloon .balloon_close input {
  margin: 0;
  vertical-align: middle;
}
.balloon .balloon_close label {
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

/* webhard left gnb*/
/* 웹하드 left */
.eas_info_box {
  padding: 10px 15px;
}
.eas_info_box ul {
  width: 100%;
  overflow: hidden;
}
.eas_info_box .top {
  width: 100%;
  height: 35px;
}
.eas_info_box .title {
  float: left;
  min-width: 90px;
  margin-bottom: 10px;
  color: #333;
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
}
.eas_info_box .child_menu a span {
  color: #999;
}

.eas_info_box .progress_bar .share {
  background: #0073d8;
}
.eas_info_box .size_box {
  color: #fff;
  font-family: "Noto Sans KR";
}
.eas_info_box .size_box .size span {
  font-size: 12px;
}
.eas_info_box .my_size {
  float: right;
  color: #0073d8;
}
.eas_info_box .top .ea_icon.public_question.tooltip {
  float: right;
  margin-top: 10px;
  color: #ffc600;
}

.eas_info_box .top .info-tooltip1 {
  position: relative;
  top: 12px;
  left: 15px;
  float: right;
  width: 30px;
  height: 15px;
  display: none;
}
.eas_info_box .top .info-tooltip1 .public_info_circle {
  display: inline-block;
  width: 16px;
  height: 15px;
  cursor: pointer;
}
.eas_info_box .top .info-tooltip1 .info-box {
  position: absolute;
  z-index: 10001;
  line-height: 20px;
  top: 0;
  left: 18px;
  padding: 10px;
  background: #fff;
  border: 1px solid #dce0e1;
  display: none;
}
.eas_info_box .top .info-tooltip1:hover .info-box {
  display: block;
}
.icon.public_info_circle {
  background-position: -359px -299px;
}
.icon {
  display: block;
  width: 20px;
  height: 20px;
  background: url(/eas/asset/images/global_icon_sprite6.png) no-repeat;
}

.eas_info_box .progress_bar {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #999;
}
.eas_info_box .progress_bar .bar {
  height: 5px;
  border-radius: 5px;
}
.eas_info_box .size_box {
  overflow: hidden;
  color: #333;
  font-size: 12px;
}
.eas_info_box .size {
  float: left;
}
.eas_info_box .size_total {
  float: right;
  font-size: 12px;
}
.eas_info_box .size_total span {
  font-size: 12px;
}
.eas_info_box .eas_choice {
  float: left;
  width: 81px;
  height: 40px;
  padding: 10px 0 11px;
  text-align: center;
  color: #76838f;
}
.eas_info_box .eas_choice span {
  margin: 0 auto 8px;
}
.eas_info_box .eas_choice:active,
.eas_info_box .eas_choice.on {
  background-color: #2b353e;
  color: #fff;
  border-radius: 5px;
}
.eas_info_box .eas_menu {
  height: 26px;
  line-height: 26px;
  padding-left: 27px;
  padding-right: 12px;
  color: #fff;
}
.eas_info_box .eas_menu .title {
  float: left;
  width: calc(100% - 70px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.eas_info_box .eas_menu .size {
  float: left;
  width: 53px;
  font-weight: 700;
  display: none;
}
.eas_info_box .eas_menu .size span {
  float: right;
  margin-right: 3px;
  font-size: 11px;
  font-weight: 700;
}
.eas_info_box .eas_menu .icon {
  float: right;
  margin-top: 7px;
  display: none;
}
.eas_info_box .eas_menu.on .size {
  display: block;
}
.eas_info_box .eas_menu.on .icon {
  display: block;
}
.eas_info_box .eas_menu:hover .size {
  display: block;
}
.eas_info_box .eas_menu:hover .icon {
  display: block;
}
.eas_info_box .child_menu {
  padding-left: 27px;
  padding-right: 15px;
  line-height: 26px;
  height: 26px;
}
.eas_info_box .child_menu.on {
  background: #1c2429;
}
.eas_info_box .child_menu a span {
  color: #76838f;
}
.eas_info_box .child_menu.on a span {
  color: #fff;
}
.eas_info_box .child_menu:hover {
  background: #1c2429;
  cursor: pointer;
}
.eas_info_box .child_menu .icon {
  float: left;
  margin-top: 8px;
}

.skin_black .eas_info_box .title {
  color: #fff;
}
.skin_black .eas_info_box .progress_bar {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}
.skin_black .eas_info_box .progress_bar .share {
  background: #5a646c;
}
.skin_black .eas_info_box .size_box {
  color: #fff;
}
.skin_black .eas_info_box .my_size {
  float: right;
  color: #ffc600;
}
.skin_black .eas_menu_box .eas_menu.on {
  background: #222;
}
.skin_black .eas_menu_box .eas_menu:hover {
  background: #222;
}
.skin_black .eas_menu_box .child_menu.on {
  background: #222;
}
.skin_black .eas_menu_box .child_menu.on a span {
  color: #fff;
}
.skin_black .eas_menu_box .child_menu:hover {
  background: #222;
}

#s_used_size {
  color: #0073d8;
}

/* RSB */
.body_wrap {
  width: 100%;
  height: calc(100% - 60px); /* display:flex;justify-content:space-between;align-items:flex-start; */
}
.rsb {
  width: 48px;
  height: 100%;
  border-left: 1px solid #e3e3e3;
  float: right;
  position: fixed;
  top: 51px;
  right: 0;
  background: #fff;
  z-index: 999;
  height: calc(100% - 60px);
  box-sizing: border-box;
}
.rsb_top {
  margin-top: 24px;
}
.rsb_top li,
.rsb_bottom li {
  margin-bottom: 24px;
  text-align: center;
  position: relative;
}
.rsb_bottom {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
}
.rsb li.active a i.mdi-rsb {
  color: #1e88e5;
}

a.update_icon {
  width: 28px;
  height: 28px;
  background-position: 0 0;
  display: block;
  margin: auto;
  position: relative;
  background: url(/asset/wm60/images/icon_sprite.png) no-repeat;
  background-size: cover;
}
a.update_icon:hover,
a.update_icon.active {
  background-position: -56px 0px;
}
a.update_icon .update_alarm {
  display: block;
  width: 28px;
  height: 28px;
  background: url(/asset/wm60/images/icon_sprite.png) no-repeat;
  background-position: -28px 0;
  background-size: cover;
  animation: blink 1s linear infinite;
  position: absolute;
  left: 0;
  top: 0;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  ,
  50% {
    opacity: 0.5;
  }
  ,
  100% {
    opacity: 1;
  }
}

#help_icon {
  cursor: pointer;
}
.layer_pop.help_menu {
  display: none;
  position: absolute;
  width: 170px;
  bottom: -12px;
  right: 52px;
  background: #fff;
  border: 1px solid #c9d0d4;
  text-align: left;
  border-radius: 4px;
}
.layer_pop.help_menu.active {
  display: block;
}
.rsb_bottom .help_menu::before {
  content: "";
  bottom: 12px;
  right: -13px;
  border-width: 13px;
  border-color: transparent;
  border-style: solid;
  border-right-width: 0;
  height: 0;
  position: absolute;
  width: 0;
  border-left-color: #c9d0d4;
}
.rsb_bottom .help_menu::after {
  content: "";
  bottom: 13px;
  right: -11px;
  border-width: 12px;
  border-color: transparent;
  border-style: solid;
  border-right-width: 0;
  height: 0;
  position: absolute;
  width: 0;
  border-left-color: #fff;
}
.help_menu #help_list {
  margin: 8px 0;
}
#help_list > li {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0;
}
#help_list li a {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  cursor: pointer;
  padding: 6px 8px;
}
span.rsb_subTxt {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #949596;
}
.help_menu i {
  margin-right: 8px;
}
.help_menu li:hover {
  background: rgba(30, 136, 229, 0.12);
}
.help_menu li:hover a span.rsb_subTxt {
  color: #1e88e5;
}
.help_menu li:hover .mdi-rsb {
  color: #1e88e5;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .layer_pop.help_menu.active {
    display: block;
  }
}

.wrap-col-content {
  height: 100%;
}
.icon_txt {
  display: none;
}

.mdi-rsb {
  color: #a1a7ae;
}
.mdi-rsb:hover {
  color: #1e88e5;
}
.mdi-rsb.active {
  color: #1e88e5;
}

/* 관리자 GNB */
#admin_gnb ul li {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* #admin_gnb ul li:active, #admin_gnb ul li.on{background:transparent;} */
#admin_gnb ul li a {
  display: block;
  text-align: center;
}
#admin_gnb .gnb_icon {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background: url(/asset/wm60/images/gnb_sprite.png) no-repeat;
  background-size: cover;
  display: block;
}
#admin_gnb ul li a .text {
  display: block;
  color: #fff;
  box-sizing: border-box;
}
#link_to_adm_webmail .gnb_icon {
  background-position: 0 0;
}
#link_to_adm_webmail .gnb_icon.on {
  background-position: -24px 0px;
}
#link_to_adm_contact .gnb_icon {
  background-position: -48px 0px;
}
#link_to_adm_contact .gnb_icon.on {
  background-position: -72px 0px;
}
#link_to_adm_calendar .gnb_icon {
  background-position: -96px 0px;
}
#link_to_adm_calendar .gnb_icon.on {
  background-position: -120px 0;
}
#link_to_adm_board .gnb_icon {
  background-position: -144px 0;
}
#link_to_adm_board .gnb_icon.on {
  background-position: -168px 0px;
}
#link_to_adm_eas .gnb_icon {
  background-position: -192px 0;
}
#link_to_adm_eas .gnb_icon.on {
  background-position: -216px 0px;
}
#link_to_adm_webhard .gnb_icon {
  background-position: -336px 0;
}
#link_to_adm_webhard .gnb_icon.on {
  background-position: -360px 0;
}

/* s: 관리자 GNB 아이콘 임시 */
#admin_gnb li a .icon_wrap {
  display: block;
  height: 37px;
}
#admin_gnb li a .icon_wrap .ea_icon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(/eas/asset/images/global_icon_sprite4.png) no-repeat;
}
#admin_gnb li a .icon_wrap .ea_icon.public_user {
  width: 27px;
  height: 27px;
  background-position: -360px 0px;
}
#admin_gnb li.on a .icon_wrap .ea_icon.public_user {
  width: 27px;
  height: 27px;
  background-position: -360px -60px;
}
#admin_gnb li a .icon_wrap .ea_icon.public_sitemap {
  width: 27px;
  height: 27px;
  background-position: -420px 0px;
}
#admin_gnb li.on a .icon_wrap .ea_icon.public_sitemap {
  width: 27px;
  height: 27px;
  background-position: -420px -60px;
}
#admin_gnb li a .icon_wrap .ea_icon.public_phone {
  width: 27px;
  height: 27px;
  background-position: -180px 0px;
}
#admin_gnb li.on a .icon_wrap .ea_icon.public_phone {
  width: 27px;
  height: 27px;
  background-position: -180px -60px;
}
#admin_gnb li a .icon_wrap .ea_icon.public_messenger_lg {
  width: 27px;
  height: 27px;
  background-position: -480px 0px;
}
#admin_gnb li.on a .icon_wrap .ea_icon.public_messenger_lg {
  width: 27px;
  height: 27px;
  background-position: -480px -60px;
}
#admin_gnb li a .icon_wrap .ea_icon.public_cog_lg {
  width: 27px;
  height: 27px;
  background-position: -300px 0px;
}
#admin_gnb li.on a .icon_wrap .ea_icon.public_cog_lg {
  width: 27px;
  height: 27px;
  background-position: -300px -60px;
}
#admin_gnb li a .icon_wrap .ea_icon.public_secure {
  width: 27px;
  height: 27px;
  background-position: -600px 0px;
}
#admin_gnb li.on a .icon_wrap .ea_icon.public_secure {
  width: 27px;
  height: 27px;
  background-position: -600px -60px;
}
/* e: 관리자 GNB 아이콘 임시 */
