{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'calendar/css/bootstrap.min.css' %}">
  <link href="{% static "bootstrap_1229/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "tables_1231/css/bootstrap4.min.css" %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'bootstrap_1229/css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

  <div>
    <script src="{% static 'calendar/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'calendar/js/popper.min.js' %}"></script>
    <script src="{% static 'calendar/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'calendar/js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'calendar/js/jquery.bootstrap.modal.forms.min.js' %}"></script>
  </div>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><a href = "{% url 'core:home' %}"> We-Work </a></div>
      <div class="list-group list-group-flush">
        <a href="{% url 'boards:board_list' %}" class="list-group-item list-group-item-action bg-light">공지사항</a>
        <a href="{% url 'calendars:calendar' %}" class="list-group-item list-group-item-action bg-light">캘린더</a>
        <a href="{% url 'messengers:messenger' %}" class="list-group-item list-group-item-action bg-light">메신저</a>
        <a href="{% url 'attendance:attendance_home' %}" class="list-group-item list-group-item-action bg-light">근태관리</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

  
    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

              <div>
                <!-- include 이용하여 해당 위치에 제작해 놓은 html파일 불러오기 -->
                {% include "partials/nav.html" %}
              </div>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">

        <!-- block이용하여 자식 템플릿이 부모 템플릿에 원하는 내용 출력할 공간 생성 -->
        {% block content %}{% endblock %}

        {% comment %} {% include "partials/footer.html" %} {% endcomment %}
      </div>  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'calendar/css/bootstrap.min.css' %}">
  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "tables_1231/js/jquery-3.5.1.slim.min.js" %}"></script>
  <script src="{% static "bootstrap_1229/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "tables_1231/js/jquery-3.5.1.slim.min.js" %}"></script>
  <script src="{% static "tables_1231/js/scripts.js" %}"></script>
  <script src="{% static "tables_1231/js/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "tables_1231/js/bootstrap4.min.js" %}"></script>
  <script src="{% static "tables_1231/js/datatables-demo.js" %}"></script>
  {% block scripts %} {% endblock %}
  {% block calendar_div%} {% endblock %}

  <!-- Menu Toggle Script -->
  <script>

    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>