{% extends 'index.html' %}
{% load static %}

{% block link-area %}
<!-- 캘린더 css -->
  <link rel="stylesheet" type="text/css" href="{% static 'calendar/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'calendar/css/bootstrap.min.css' %}">
{% endblock link-area %}


{% block content %}{% endblock %}


{% block calendar_div%}
  {% include 'calendars/modal.html' %}
{% endblock calendar_div %}


{% block script-body %}
  <!-- 캘린더 
  겹치는 스크립트
  <script src="{% static 'calendar/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'calendar/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'calendar/js/popper.min.js' %}"></script>
  <script src="{% static 'calendar/js/jquery.bootstrap.modal.forms.js' %}"></script>
  -->
  <script src="{% static 'calendar/js/jquery.bootstrap.modal.forms.min.js' %}"></script>
  
  <script type="text/javascript">
    $(function () {
      // 월간에서 생성버튼 연결
      $("#month_create-event").modalForm({
          formURL: "{% url 'calendars:month_event_new' %}"
        });
    });

    $(function () {
      // 주간에서 생성버튼 연결
      $("#week_create-event").modalForm({
          formURL: "{% url 'calendars:week_event_new' %}"
        });
    });

    $(function () {
      // 일간에서 생성버튼 연결
      $("#day_create-event").modalForm({
          formURL: "{% url 'calendars:day_event_new' %}"
        });
    });

    $(function () {
    $("#event-delete").each(function () {
      $(this).modalForm({
          formURL: $(this).data('form-url')});
        });
    });

    $(function () {
    $("#event-edit").each(function () {
      $(this).modalForm({
          formURL: $(this).data('form-url')});
        });
    });
  </script>
{% endblock %}
