{% extends 'index.html' %}
{% load static %}

{% block link-area %}
<!-- 캘린더 css -->
  <link rel="stylesheet" href="{% static 'calendar/css/bootstrap.min.css' %}">
{% endblock link-area %}


{% block script-body %}
  <!-- 캘린더 스크립트 -->
  <script src="{% static 'calendar/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'calendar/js/popper.min.js' %}"></script>
  <script src="{% static 'calendar/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'calendar/js/jquery.bootstrap.modal.forms.js' %}"></script>
  <script src="{% static 'calendar/js/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <script src="{% static 'calendar/js/modal_config.js' %}"></script>
{% endblock script-body %}

{% block calendar_div%}
  {% include 'calendars/modal.html' %}
{% endblock calendar_div %}

{% block content %}
{% endblock content %}