{% extends 'index.html' %}
{% load static %}

{% block link-area %}
<!-- 캘린더 css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'calendar/css/bootstrap.min.css' %}">

{% endblock link-area %}


{% block script-body %}
  <!-- 캘린더 -->
  <script src="{% static 'calendar/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'calendar/js/popper.min.js' %}"></script>
  <script src="{% static 'calendar/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'calendar/js/jquery.bootstrap.modal.forms.js' %}"></script>
  <script src="{% static 'calendar/js/jquery.bootstrap.modal.forms.min.js' %}"></script>

{% endblock script-body %}
{% block calendar_div%}
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog mt-5" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
{% endblock %}