{% extends 'calendars/base.html' %}

{% block content %}
    <div class="clearfix">
        <a class="btn btn-info right mr-2" href="{% url 'calendars:calendar_month' %} ">월간</a>
        <a class="btn btn-info right mr-2" href="{% url 'calendars:calendar_week' %}">주간</a>
        <a class="btn btn-info right mr-2" href="{% url 'calendars:calendar_day' %}">일간</a>
    </div>
    <div class="clearfix">
        <a class="btn btn-info right mr-2" href="{% url 'calendars:calendar_month' %}?{{ next_month }} "> 다 음 >> </a>
        <a class="btn btn-info right mr-2" href="{% url 'calendars:calendar_month' %}?{{ prev_month }}"> << 이 전 </a>
        <button id="create-month-event" class="btn btn-info right mr-2" type = "button"> 일정 추가 </button>
    </div>

    <div style="color: black;">
        {{calendar}}
    </div>
{% endblock %}