{% extends 'calendars/base.html' %}

{% block content %}
<div class="clearfix">
    <span class="left m-2" style="font-size: 20px;">Wellcome {{request.user.user_name}}</span>
    <a class="btn btn-info right mr-2" href="{% url 'calendars:calendar' %}?{{ next_month }} "> Next Month >> </a>
    <a class="btn btn-info right mr-2" href="{% url 'calendars:calendar' %}?{{ prev_month }}">
        << Previous Month </a>
            <a class="btn btn-info right mr-2" href="{% url 'calendars:event_new' %}"> + New Event </a>
</div>
<div style="color: rgb(56, 45, 207);">
    {{ calendar }}
</div>
{% endblock %}