{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">일정 삭제</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p class="delete-text">해당 일정을 삭제 하시겠습니까?
  </div>

  <div class="modal-footer">
    <button type="submit" id="delete-btn" class="btn btn-danger">삭 제</button>
  </div>

</form>