{% extends "index.html" %}

{% block content %}
    <h2><b>회원정보</b></h2>
    <table>
        <tr>
            <th width='20%'>프로필 사진</th>
            <td>
                <div class="h-20 w-20">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" height=100px>
                    {% else %}
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <th width='20%'>아이디</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>이름</th>
            <td>{{ user.user_name }}</td>
        </tr>
        <tr>
            <th>생년월일</th>
            <td>{{ user.birthdate }}</td>
        </tr>
        <tr>
            <th>부서</th>
            <td>{{ user.user_department }}</td>
        </tr>
        <tr>
            <th>직책</th>
            <td>{{ user.user_position }}</td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td>{{ user.phone_num }}</td>
        </tr>
        <tr>
            <th>주소</th>
            <td>{{ user.user_addr }}</td>
        </tr>
        <tr>
            <th>우편번호</th>
            <td>{{ user.post_num }}</td>
        </tr>
        <tr>
            <td><a href="{% url 'users:update_profile' %}">유저정보 변경</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'users:update_password' %}">비밀번호 변경</a></td>
        </tr>
    </table>

{% endblock content %}